<div class="wrapper">
    <div class="flex-item text-wrapper">
        <p *ngIf="countdownSig() > 0" class="text">Konzentriere dich nur auf die Geräusche</p>
        <p *ngIf="countdownSig() <= 0" class="text">Jetzt bist du bereit, die Website zu besuchen</p>
        <button *ngIf="countdownSig() <= 0" (click)="navigateToThirdScreen()" class="custom-button">Los gehts</button>
    </div>
    <div class="flex-item countdown-wrapper">
        <p class="countdown-text">{{ countdownSig() }}</p>
    </div>
</div>