<!-- First part -->
<div class="first-part item-wrapper">
    <p class="text left">
        Das <i>Feuer</i> und der<br>
        dazugehörige <i>Verzehr</i>
    </p>
    <p class="text-secondary right">- An was denkst du?</p>
</div>

<!-- Moving Banner -->
<div class="scrolling-banner">
    <div class="text-banner scroll-left">
        Grillabende — gemütliches Lagerfeuer — Pizza — frisches Brot — Marshmallows — Stockbrot — Camping — knisterndes
        Feuer — lodernde Flammen — Gelächter
    </div>
    <div class="text-banner scroll-right">
        Grillabende — gemütliches Lagerfeuer — Pizza — frisches Brot — Marshmallows — Stockbrot — Camping — knisterndes
        Feuer — lodernde Flammen — Gelächter
    </div>
</div>

<!-- Second part -->
<div class="second-part item-wrapper">
    <div class="left">
        <p class="text" style="font-style: italic;">Überschrift</p>
        <p class="text-paragraph">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Die Entdeckung des Feuers war für uns Menschen eine der wichtigsten Errungenschaften. Es ermöglichte uns ganz
            neue Wege. Sei es zum Schutz vor wilden Tieren oder zum verarbeiten von Lebensmitteln und weiteren Rohstoffen.
            Feuer ist heut zu Tage nicht mehr weg zu denken. Wir sind davon abhängig. Ohne Feuer könnten wir nicht mehr
            leben. Und vor allem viele Dinge die wir lieben nicht mehr verzehren.
            Die Entdeckung des Feuers war für uns Menschen eine der wichtigsten Errungenschaften. Es ermöglichte uns ganz
            neue Wege. Sei es zum Schutz vor wilden Tieren oder zum verarbeiten von Lebensmitteln und weiteren Rohstoffen.
            Feuer ist heut zu Tage nicht mehr weg zu denken. Wir sind davon abhängig. Ohne Feuer könnten wir nicht mehr
            leben. Und vor allem viele Dinge die wir lieben nicht mehr verzehren.
        </p>
    </div>
    <div class="right">
        <img class="positive-image" src="assets/images/positive_image.png">
    </div>
</div>