@import '../../../styles.scss';

.wrapper {
    display: flex;
    overflow-y: hidden;
}

.flex-item-text {
    flex: 40%;
    align-items: center;
    margin-top: 0px;
}

.flex-item-image {
    flex: 60%;
}

.fire-image {
    max-height: 100dvh;
    object-fit: cover;
}

.text {
    font-family: 'PPEditorialNew';
    font-size: 4.2vw;
    color: $color-white;
    margin: 8.75rem;
}

// Play Button first-page
.custom-button {
    font-size: 2vw;
}